ion-content {
  --background: var(--ion-background-color);
  color: var(--ion-text-color);
}
.vazio {
  text-align: center;
  margin-top: 40px;
  color: var(--ion-text-color);
}
.total-footer {
  padding: 16px;
  text-align: center;
}